<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="hibernate-configuration" requirePermission="false" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="j.zinedine@Cedar.ir">
        <network host="mail.Cedar.ir" port="25" userName="no-reply" password="HHSPJYFc@!" enableSsl="true" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs\log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="FileAppender"/>
    </logger>
  </log4net>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="command_timeout">0</property>
    </session-factory>
  </hibernate-configuration>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>-->
  <connectionStrings>
    <!--TODO: relative path should be set for sqlite data source-->
    <add name="SqliteCedarContext" connectionString="Data Source=D:\Workspace\RighTelMain\Cedar.WebPortal.WebMVC4\App_Data\cedar.sqlite;BinaryGuid=False"/>
    <add name="CedarContext" connectionString="data source=.;Database=Rightel;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="enableSimpleMembership" value="false"/>
    <add key="autoFormsAuthentication" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CaptchaPass" value="Password"/>
    <add key="CaptchaSalt" value="ZHNmZ2JzZHJlZmR3YXRnc2Q="/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="20024" enableVersionHeader="false"/>
    <!--<customErrors mode="On" defaultRedirect="Home/Error"/>-->
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="240" cookieless="UseCookies" regenerateExpiredSessionId="true"/>
    <!--stateConnectionString="tcpip=127.0.0.1:42424"-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="120" slidingExpiration="true"/>
    </authentication>
    <!--<membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CedarContext" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile inherits="Cedar.WebPortal.Models.UserProfile">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CedarContext" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SqlRoleProvider" cookieSlidingExpiration="true" cookieTimeout="120" cookiePath="/" cookieRequireSSL="false" cookieProtection="All">
      <providers>
        <clear />
        <add connectionStringName="CedarContext" applicationName="/" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>-->
    <roleManager defaultProvider="SQLiteRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="SQLiteRoleProvider" type="Cedar.WebPortal.Service.SQLiteRoleProvider" connectionStringName="SqliteCedarContext" applicationName="/"/>
      </providers>
    </roleManager>
    <membership defaultProvider="SQLiteMembershipProvider">
      <providers>
        <clear/>
        <add name="SQLiteMembershipProvider" type="Cedar.WebPortal.Service.SQLiteMembershipProvider,Cedar.WebPortal.Service" connectionStringName="SqliteCedarContext" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CedarContext" applicationName="/"/>
      </providers>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="MvcSiteMapProvider.Web.Html"/>
      </namespaces>
    </pages>
    <globalization culture="auto" uiCulture="auto"/>
    <httpModules>
      <add name="CookieLocalizationModule" type="Cedar.WebPortal.WebMVC4.Modules.CookieLocalizationModule"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="5" enableLocalization="true" scanAssembliesForSiteMapNodes="true" includeAssembliesForScan="" excludeAssembliesForScan="" attributesToIgnore="visibility" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider"/>
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="CookieLocalizationModule" type="Cedar.WebPortal.WebMVC4.Modules.CookieLocalizationModule"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
<!--  <runtime>-->
<!--    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>-->
<!--        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0"/>-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>-->
<!--        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0"/>-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral"/>-->
<!--        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="Ninject.Extensions.Interception" publicKeyToken="c7192dc5380945e7" culture="neutral"/>-->
<!--        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="LinFu.DynamicProxy" publicKeyToken="62a6874124340d6e" culture="neutral"/>-->
<!--        <bindingRedirect oldVersion="0.0.0.0-1.0.4.16035" newVersion="1.0.4.16035"/>-->
<!--      </dependentAssembly>-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>-->
<!--        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>-->
<!--      </dependentAssembly>-->
<!--    </assemblyBinding>-->
<!--  </runtime>-->
  <elmah>
    <security allowRemoteAccess="yes"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"/>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
