<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@xyz.ir">
        <network host="mail.xyz.ir" port="25" userName="no-reply" password="27654@xyz.ir" enableSsl="true" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
            <add name="CedarContext" connectionString="data source=win3.morvahost.com;Database=Cedarir_applicants;User Id=satamin;Password=taminSa123456;" providerName="System.Data.SqlClient"/>
<!--    <add name="CedarContext" connectionString="data source=.\sqlexpress;Database=Cedar; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CedarContext" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <!--    <profile>-->
    <!--      <providers>-->
    <!--        <clear />-->
    <!--        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CedarContext" applicationName="/" />-->
    <!--      </providers>-->
    <!--    </profile>-->
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="SqlRoleProvider" cookieSlidingExpiration="true" cookieTimeout="120" cookiePath="/" cookieRequireSSL="false" cookieProtection="All">
      <providers>
        <clear/>
        <add connectionStringName="CedarContext" applicationName="/" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
