@using Cedar.WebPortal.Common
@using Cedar.WebPortal.WebMVC4.Helpers
@{
    ViewBag.Title = @Html.ResourceFor("Home_AboutUs");
}
<div>
    <h2>
        درباره ما</h2>
    <br />
    <p>
        شرکت تامین تله‌كام در سال 1386 و با هدف فعالیت تخصصي و سرمایه‌گذاری بلند مدت در
        حوزه فن‌آوري اطلاعات و ارتباطات تشکیل شد
        <br />
        و در اين مدت در زمینه‌های مختلف همچون فن‌آوريهاي کارت‌های هوشمند، پورتال‌های سازمانی،
        خدمات انتقال داده‌ و تأمين و تهيه سخت‌افزار فعاليت كرده‌است.
        <br />
        <br />
        در همين راستا پس ‌از تلاشهاي فراوان نهايتاً شركت تأمين تله‌كام در سال 1389 موفق
        به اخذ پروانه اپراتورسوم   كشور با انحصار دوساله جهت ارائه خدمات نسل‌سوم
        شد.
        <br />
        <br />
        بر اين مبنا شرکت تمامی توان خود را معطوف به اجراي اين پروژه ملي کرده ‌است و درتلاش
        است به عنوان سومين اپراتور سراسري   كشور، کیفیت و خدماتی متفاوت را ارائه
        دهد.
        <br />
    </p>
    در ادامه چکیده‌ای از مهمترین سوابق شرکت تأمین تله‌کام از زمان تأسیس تاکنون آورده
    شده‌است:
    <h5>
        سال 1386</h5>
    <ul>
        <li>ثبت شرکت و آغاز رسمی فعالیت </li>
    </ul>
    <h5>
        سال 1387</h5>
    <ul>
        <li>تصویب طرح اپراتور سوم و آغاز تهیه طرح تجاری </li>
        <li>حضور تأمین تله‌کام در مزایده پروانه اپراتور سوم   ایران به صورت کنسرسیوم
            مشترک با شرکت اتصالات امارات </li>
    </ul>
    <h5>
        سال 1388</h5>
    <ul>
        <li>تصویب ترک تشریفات مناقصه و اعطای پروانه به تأمین تله‌کام </li>
    </ul>
    <h5>
        سال 1389</h5>
    <ul>
        <li>اعطای رسمی پروانه اپراتور سوم   کشور به شرکت تأمین تله‌کام و آغاز عمليات
            اجرايي پروژه</li>
    </ul>
</div>
