@using Cedar.WebPortal.WebMVC4.Helpers
@{
    ViewBag.Title = @Html.ResourceFor("Home_AboutUs");
}
<div>
    <h2>
        About Us</h2>

    <p>
        Tamin Telecom was established in 1386, with the aim of professional operation and
        long term investment in IT. In this period, various fields, such as intelligent
        cards, organizations’ portals, data transfer services, and hardware supply have
        been tackled.</p>

    <p>
        Along with these, and after considerable efforts, Tamin Telecom won the country’s
        third mobile operator’s license in 1389, receiving a two year monopoly to provide
        third generation services. Consequently, the company has focused all its power to
        launch this national project, and as the third nation-wide mobile operator is looking
        forward to present different quality and services.</p>

    <p>
        An abstract of Tamin Telecom’s most important achievement since establishment follows:</p>

    <h3>
        1386</h3>


    <ul>
        <li>Registration & formal commencement</li>
            <li>Approval of the third operator’s proposal & starting of business plan</li>
    </ul>
    <h3>
        1387
    </h3>
    <ul>
        <li>Participating in the bid for Iran’s third mobile operator’s license, in consortium
            with UAE’s Etesalat</li>
    </ul>

    <h3>
        1388</h3>

    <ul>
        <li>Approval for abandoning the bid & granting Tamin Telecom with the license</li>
    </ul>
    <h3>
        1389</h3>

    <ul>
        <li>Formal granting of the third operator’s license to Tamin Telecom & starting up the
            project’s operations</li>
    </ul>


</div>
