@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.WebMVC4.Controllers
@inherits System.Web.Mvc.WebViewPage
@{
    
    ViewBag.Title = Html.ResourceFor((MessageController o) => o.Create());
}
<div>
    <h2>
        اطلاعات تماس شركت</h2>
    <p>
        برای ارسال پیام روی
        @Html.ActionLink((MessageController o)=> o.Create()) کلیک
        کنید
    </p>
    <dl>
        <dt><strong>های تماس:</strong> </dt>
        <dd>
            <br />
        </dd>
        <dd>
            22026749</dd>
        <dd>
            22047085
        </dd>
        <dd>
            22047058
        </dd>
    </dl>
    <dl>
        <dt><strong>دورنما:</strong> </dt>
        <dd>
            26219975
        </dd>
    </dl>
    <dl>
        <dt><strong>آدرس:</strong></dt>
        <dd>
            تهران، خ ولیعصر، روبروی پارك ملت، خیابان ارمغان غربی، کوچه مهرداد، پلاک 5
            <br />
            <br />
            
            <iframe width="425" height="400" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tamin+Telecom&amp;aq=&amp;sll=35.774089,51.418494&amp;sspn=0.001347,0.00284&amp;g=Tehran&amp;ie=UTF8&amp;ll=35.777053,51.418376&amp;spn=0.013927,0.018239&amp;z=15&amp;output=embed">
            </iframe>
            <br />
            <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tamin+Telecom&amp;aq=&amp;sll=35.774089,51.418494&amp;sspn=0.001347,0.00284&amp;g=Tehran&amp;ie=UTF8&amp;ll=35.777053,51.418376&amp;spn=0.013927,0.018239&amp;z=15"
                style="color: #0000FF; text-align: left">نمایش بزرگتر نقشه</a></small></dd>
    </dl>
    <dl>
        <dt><strong>ايميل:</strong> </dt>
        <dd>
            info@Cedar.ir
        </dd>
    </dl>
    <strong>همکاری با سازمان ها و شرکت ها</strong>
    <br />
    <p>
        شرکت تامین تله‌كام از همکاری با سازمان ها و شرکت‌هاي مجرب و متخصص در حوزه‌های مختلف
        کاری استقبال می‌کند،
        <br />
        در اين راستا شركتها و سازمانهاي علاقه‌مند می توانند از طریق آدرس‌هاي زير با واحدهاي
        مختلف شركت ارتباط برقرار کنند:
    </p>
    <table border="0" cellpadding="0" cellspacing="12px" align="center">
        <tr>
            <td>
                <strong>حوزه فعاليت شركت ها</strong>
            </td>
            <td>
                <strong>آدرس تماس</strong>
            </td>
        </tr>
        <tr>
            <td>
                فني، تأمين تجهيزات، خدمات فنی و تخصصي
            </td>
            <td>
                Technical@Cedar.ir
            </td>
        </tr>
        <tr>
            <td>
                بازاريابي و فروش
            </td>
            <td>
                Marketing@Cedar.ir
            </td>
        </tr>
        <tr>
            <td>
                خدمات ارزش‌افزوده، تحقيقات، نوآوري
            </td>
            <td>
                VAS@Cedar.ir
            </td>
        </tr>
        <tr>
            <td>
                برند و ارتباطات
            </td>
            <td>
                brandcom@Cedar.ir
            </td>
        </tr>
        <tr>
            <td>
                مشاوره مديريت، منابع‌انساني، فرایندها
            </td>
            <td>
                consultancy@Cedar.ir
            </td>
        </tr>
        <tr>
            <td>
                ساير حوزه‌ها
            </td>
            <td>
                info@Cedar.ir
            </td>
        </tr>
    </table>
    <br />
</div>
