@using Cedar.WebPortal.WebMVC4.Helpers
@inherits WebViewPage
@{

    this.ViewBag.Title = this.Html.ResourceFor("Home_FAQ");
}
<style type="text/css">
    .questions a
    {
        text-align: right;
        color: rgb(55, 117, 241);
        font: 1.1em tahoma;
        line-height: 0.8em;
        text-decoration: none;
    }

    .answers a
    {
        text-align: right;
        color: rgb(0, 0, 0);
        font: 1.2em tahoma;
    }
</style>
<div class="questions">
    <h2>@this.Html.ResourceFor("FAQ")
</h2>
    <ul>
        <li><p>
                <a href="#ReleaseTime">When are the third generation’s SIM cards introduced to the market?</a>
                <br />
            </p></li>
        <li> <p>
                 <a href="#Privileges">What are the advantages of Tamin Telecom’s Internet over
                                      the other two operators?</a>
                 <br />
             </p></li>
        <li> <p>
                 <a href="#SimType">What kind of SIM cards Cedar will provide?</a>
                 <br />
             </p></li>
        <li><p>
                <a href="#SimPrivileges">What are the advantages of Tamin Telecom’s SIM cards?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#ChooseNumber">Is there the possibility of choosing desired numbers?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#JoinPossibility">Is it possible to cooperate with Tamin Telecom?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#SpecialCellPhones">Does using Tamin Telecom’s 3G network require certain handsets?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#Provinces">Which provinces will Tamin Telecom be launched in?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#3GMeaning">What does 3G stand for and what is the meaning?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#Agancies">Does Tamin Telecom accept outlets? How could it be followed?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#SupplyCenters">Where are SIM card distribution outlets?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#SimPrices">What are pre-paid & post-paid SIM cards’ prices?</a>
                <br />
            </p></li>
        <li><p>
                <a href="#Calltariffs">How are Tamin Telecom’s call tariff and SIM card use comparing to the other
        two operators’? 
</a>
                <br />
            </p></li>
        <li><p>
                <a href="#HigherQualityServices">
                    Considering the other operators’ service qualities, is providing high quality
        services among Tamin telecom’s objectives?</a>
                <br />
            </p></li>
    </ul>
</div>
<br/>
<hr/>
<div class="answers">
    <ul>
        <li><p>
                <strong>When are the third generation’s SIM cards introduced to the market?</strong><br />
                <a name="ReleaseTime">Based on the planning, these SIM cards will be introduced to the market early
    in the next year.</a>
            </p></li>
        <li><p>
                <strong>What are the advantages of Tamin Telecom’s Internet over
                                      the other two operators?</strong><br />
                <a name="Privileges">3G internet’s speed is much faster than
    the 2G so far so that it could be compared with ADSL technology. Speeds of up to
    42 Mbps are only available through 3G technology.
                </a>
            </p></li>
        <li><p>
                <strong>What kind of SIM cards Cedar will provide?</strong><br /> <a name="SimType">
Tamin Telecom will provide post-paid & pre-paid
    SIM cards, as well as data cards.</a>
            </p></li>
        <li><p>
                <strong>What are the advantages of Tamin Telecom’s SIM cards?</strong><br /> <a name="SimPrivileges">These
    SIM cards have various capabilities, such as mobile high-speed internet and value
    added services. For more information refer to VAS page.
                                                                                          </a>
            </p></li>
        <li><p>
                <strong>Is there the possibility of choosing desired numbers?</strong><br /> <a name="ChooseNumber">Tamin
    Telecom is reviewing different methods for providing customers with comfort and
    services, including choosing of desired numbers.</a></p></li>
        <li><p>
                <strong>Is it possible to cooperate with Tamin Telecom?</strong><br /> <a name="JoinPossibility">Yes. Please
    refer to Join Us & Contact Us pages.</a></p></li>
        <li><p>
                <strong>Does using Tamin Telecom’s 3G network require certain handsets?</strong><br />
                <a name="SpecialCellPhones">No. Tamin Telecom’s SIM cards function on all handsets, available in the market.
    Although some special features will only be operational on 3G handsets.</a></p></li>
        <li><p>
                <strong>Which provinces will Tamin Telecom be launched in?</strong><br /> <a name="Provinces">Tamin telecom
    will gradually cover all the country. The detailed coverage plan will be announced
    later.</a></p></li>
        <li><p>
                <strong>What does 3G stand for and what is the meaning?</strong><br /> <a name="3GMeaning">3G stands for
    3rd Generation and the third generation of cellphone technology is meant.</a></p></li>
        <li><p>
                <strong>Does Tamin Telecom accept outlets? How could it be followed?</strong><br /> <a name="Agancies">
                                                                                                       Yes. Applicants my take measures upon Tamin Telecom’s Advertisement for qualified
    distribution outlets in its web site and highly circulated newspapers by submitting
    the required documents in the provided deadline.</a></p></li>
        <li><p>
                <strong>Where are SIM card distribution outlets?</strong><br /> <a name="SupplyCenters">Based on the respective
    plan, customers may purchase their required SIM cards through Tamin Telecom stores,
    all authorized agents or certified stores under contract.</a></p></li>
        <li><p>
                <strong>What are pre-paid & post-paid SIM cards’ prices?</strong><br /> <a
                                                                                                         name="SimPrices">SIM cards’
    prices have not been fixed yet.</a></p></li>
        <li><p>
                <strong>How are Tamin Telecom’s call tariff and SIM card use comparing to the other
        two operators’? </strong><br /> <a name="Calltariffs">Tamin Telecom’s call and SIM card use tariffs are
    defined by the country’s Radio Regulatory Organization and in a way to provide subscribers
    with facilities to use the available services. This will be announced through formal
    broadcasting sources and Tamin telecom’s web site.</a></p></li>
        <li><p>
                <strong>Considering the other operators’ service qualities, is providing high quality
        services among Tamin telecom’s objectives?</strong><br /> <a name="HigherQualityServices">Yes. One of the third
    operator’s social objectives is definitely facilitating cellphone subscribers’ communication
    through elevating advanced and modern telecom technologies.</a></p></li>
    </ul>
</div>