@using Cedar.WebPortal.WebMVC4.Helpers
@inherits WebViewPage
@{

    this.ViewBag.Title = this.Html.ResourceFor("Home_FAQ");
}
<style type="text/css">
    .questions a
    {
        text-align: right;
        color: rgb(55, 117, 241);
        font: 1.1em tahoma;
        line-height: 0.8em;
        text-decoration: none;
    }
    
    .answers a
    {
        text-align: right;
        color: rgb(0, 0, 0);
        font: 1.2em tahoma;
    }
</style>
<div class="questions">
    <h2>@this.Html.ResourceFor("FAQ")</h2>
    <ul>
        <li>
            <p>
                <a href="#SimName">نام سیم کارتهای اپراتور سوم در ایران چیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#LastStatus">آخرین وضعیت اپراتور سوم و اقدامات انجام شده جهت عرضه آن چیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#TotalCoverage">آیا شبکه اپراتور سوم تمامی ایران را تحت پوشش قرار خواهد داد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#LaunchCoverage">در هنگام راه اندازی چه مناطقی تحت پوشش خواهند بود؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#CallsSafety">امنیت مکالمات و داده ها در شبکه به چه صورت است و آیا حقوق شخصی
                    افراد رعایت خواهد شد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#3GFromBeginning">آیا از ابتدای بهره برداری خدمات  را ارائه می-دهید؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#InternetLimits">اپراتور سوم در ارائه خدمات سرعت اینترنتی خود در مکانهای جغرافیایی
                    مختلف محدودیت قائل خواهد شد ( و یا به میزان یکسان در تمامی نقاط کشور) ؟ </a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Services">چه خدماتی در هنگام راه اندازی اپراتور ارائه می شود؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#CompatibleDevices">آیا کلیه گوشی های موجود در بازار با سرویس های ارائه شده
                    توسط شرکت تامین تله کام سازگار می باشند؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#SofreCom">آیا شرکت فرانسوی "سفره کام" در اجرای این پروژه نقش دارد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#SofrecomRole">هدف اصلی از همکاری با شرکت سفره کام چیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#ForeignerRole">آیا در راه اندازی اپراتور سوم،شریک یا سهامدار خارجی نقش دارد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#SimTypes">اپراتور سوم چه نوع سیم کارتهایی ارائه می دهد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#PostAndPre">آیا هر دو نوع سیم کارت،دائمی و اعتباری،در زمان راه اندازی شبکه
                    به بازار عرضه می شوند؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#SimPrices">قیمت سیم کارتهای دائمی و اعتباری چگونه خواهد بود؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Shops">سیم کارتهای دائمی و اعتباری را از چه مکانهایی می توان تهیه کرد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#3GSupport">آیا اپراتور سوم ، موبایل را پشتیبانی می کند؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Privileges">مزایای اپراتور سوم نسبت به اپراتورهای دیگر چیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#SimAndDevice">آیا با شرکتهای تولید کننده گوشی مذاکره ای جهت عرضه همزمان گوشی
                    و سیم کارت انجام شده است؟ </a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#3GMeaning">فن آوری  موبایل (3G) چیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#3GMonopoly">آیا اپراتورهای دیگر هم خدمات  را ارائه خواهند کرد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#TopServices">مهمترین سرویسهای اپراتور سوم کدام هستند؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Permissions">آیا مجوزهای لازم برای ارائه  تصویری دریافت شده است؟ </a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#sanctions">آیا تحریم های تحمیلی علیه ایران در مسیر راه اندازی شبکه و تامین
                    تکنولوژی لازم ایجاد اختلال نکرده است و آیا این موضوع در آینده و پس از راه اندازی
                    مشکل ساز نیست؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#LaunchEstimation">زمان افتتاح شبکه  را چه زمانی پیش بینی میکنید؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#BtsAntena">آیا شهرداری تهران در نصب آنتن های بی.تی.اس همکاری لازم با اپراتور
                    سوم را داشته است؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#VASissues">بسیاری از خدماتی که به عنوان ارزش افزوده از آن نامبرده می شود،
                    نیازمند همکاری و زمینه سازی از سوی دیگر ادارات و سازمانهای دولتی هستند. به نظر می
                    رسد برخلاف تبلیغات انجام شده، عملیاتی شدن همه آنها در حال حاضر برای اپراتور سوم
                    امکان ندارد. با چه سازمانهایی همکاری-هایی در این خصوص صورت گرفته است؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Delay">خبرها و نظرات حاکی از آن است که شما با تأخیر قابل ملاحظه ای در برنامه
                    زمانی پیش بینی شده مواجه هستید، آیا این امر صحیح است؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#LongTermGoal">فراگیر شدن سیم کارتهای (اپراتور سوم) در سطح کشور (شهرستانها,روستاها
                    و راهها) چقدر طول خواهد کشید؟ </a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Tariffs">تعرفه و سرویس مکالمات اپراتور سوم چگونه مقرر خواهد شد؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Strategies">آیا استراتژی و کلیات قیمت و تعرفه گذاری اپراتور سوم تاکنون مشخص
                    شده است؟</a>
                <br />
            </p>
        </li>
        <li>
            <p>
                <a href="#Pricing">قیمت گذاری سیم کارتهای اپراتور سوم به چه نحو خواهد بود؟</a>
                <br />
            </p>
        </li>
    </ul>
</div>
<br />
<hr />
<div class="answers">
    <ul>
        <li>
            <p>
                <strong>نام سیم کارتهای اپراتور سوم در ایران چیست؟</strong><br />
                <a name="SimName">نامگذاری و برند طبيعتاً در هنگام بهره برداری رسمی اعلام خواهد شد.</a>
            </p>
        </li>
        <li>
            <p>
                <strong>آخرین وضعیت اپراتور سوم و اقدامات انجام شده جهت عرضه آن چیست؟</strong><br />
                <a name="LastStatus">هم اکنون اپراتور سوم در مرحله تست  در تهران و گسترش
                    شبکه می باشد و پس ازاطمینان از سطح کیفیت مورد نظر توزیع سیم کارتها آغاز خواهد شد
                </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا شبکه اپراتور سوم تمامی ایران را تحت پوشش قرار خواهد داد؟</strong><br />
                <a name="TotalCoverage">پروانه اپراتور سوم شامل تمام گسترۀ آبی و خاکی کشور است. ما تلاش
                    می کنیم طبق برنامه مشخص گسترش شبکه، به تمام مناطق مهم ایران را تحت پوشش قرار دهیم
                    و جزئیات این پوشش دهی درهنگام بهره برداری رسمی متعاقبا اعلام خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>در هنگام راه اندازی چه مناطقی تحت پوشش خواهند بود؟</strong><br />
                <a name="LaunchCoverage">این سیم در آغاز تهران و کرج تحت پوشش می باشند.</a>
            </p>
        </li>
        <li>
            <p>
                <strong>امنیت مکالمات و داده ها در شبکه به چه صورت است و آیا حقوق شخصی افراد رعایت خواهد
                    شد؟</strong><br />
                <a name="CallsSafety">طبیعتا کلیه حقوق مشتریان طبق قوانین حاکم رعایت خواهد شد. ضمن اینکه
                    یکی از ویژگی های  منیت بالاتر شبکه و نفوذناپذیری بیشتر آن در مقایسه با نسل
                    های پیشین است. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا از ابتدای بهره برداری خدمات  را ارائه می-دهید؟</strong><br />
                <a name="3GFromBeginning">بله، شرکت تامین از ابتدای بهربرداری خدمات نسل 3 را در شهرهایی
                    که دارای پوشش دهی می باشند ارائه خواهد داد.</a></p>
        </li>
        <li>
            <p>
                <strong>اپراتور سوم در ارائه خدمات سرعت اینترنتی خود در مکانهای جغرافیایی مختلف محدودیت
                    قائل خواهد شد ( و یا به میزان یکسان در تمامی نقاط کشور) ؟</strong><br />
                <a name="InternetLimits">خیر، محدودیت خاصی وجود ندارد.</a></p>
        </li>
        <li>
            <p>
                <strong>چه خدماتی در هنگام راه اندازی اپراتور ارائه می شود؟</strong><br />
                <a name="Services">- سرویس های پایه شامل تماس صوتی و تصویری، پیام کوتاه و پیام صوتی</a></p>
        </li>
        <li>
            <p>
                <strong>آیا کلیه گوشی های موجود در بازار با سرویس های ارائه شده توسط شرکت تامین تله
                    کام سازگار می باشند؟</strong><br />
                <a name="CompatibleDevices">گوشی های موبایل باید سازگار با تکنولوزی  باشد که
                    البته اکثر گوشی های موجود در بازار این قابلیت را دارند.</a></p>
        </li>
        <li>
            <p>
                <strong>آیا شرکت فرانسوی "سفره کام" در اجرای این پروژه نقش دارد؟</strong><br />
                <a name="SofreCom">طبق برنامه مشتريان نقش اجرایی در این پروژه ندارد.</a></p>
        </li>
        <li>
            <p>
                <strong>هدف اصلی از همکاری با شرکت سفره کام چیست؟</strong><br />
                <a name="SofrecomRole">این شرکت در زمینه 3Gسابقه دارد و از انجا که شبکه 3Gبرای اولین
                    بار در ایران راه اندازی می شود،ما از مشاوره آنها استفاده می کنیم.</a></p>
        </li>
        <li>
            <p>
                <strong>آیا در راه اندازی اپراتور سوم،شریک یا سهامدار خارجی نقش دارد؟</strong><br />
                <a name="ForeignerRole">خير </a>
            </p>
        </li>
        <li>
            <p>
                <strong>اپراتور سوم چه نوع سیم کارتهایی ارائه می دهد؟</strong><br />
                <a name="SimTypes">سیم کارتهای دائمی و سیم کارتهای اعتباری. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا هر دو نوع سیم کارت،دائمی و اعتباری،در زمان راه اندازی شبکه به بازار عرضه
                    می شوند؟</strong><br />
                <a name="PostAndPre">بله </a>
            </p>
        </li>
        <li>
            <p>
                <strong>قیمت سیم کارتهای دائمی و اعتباری چگونه خواهد بود؟</strong><br />
                <a name="SimPrices">این موضوع در هنگام واگذاری اعلام خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>سیم کارتهای دائمی و اعتباری را از چه مکانهایی می توان تهیه کرد؟</strong><br />
                <a name="Shops">از طریق فروشگاهها و عوامل توزیع قطعا جزئیات بیشتر در هنگام واگذاری اعلام
                    خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا اپراتور سوم ، موبایل را پشتیبانی می کند؟</strong><br />
                <a name="3GSupport">اپراتور سوم همه سرویسهای  را ارائه خواهد کرد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>مزایای اپراتور سوم نسبت به اپراتورهای دیگر چیست؟</strong><br />
                <a name="Privileges">1.کیفیت بالا در ارائه سرویسهای پایه مانند: تماس و پیام کوتاه، به
                    دلیل استفاده از آخرین پیشرفت های فن آوری روز در شبکه های  موبایل . 2.سرعت
                    بالا ی سرویس های انتقال اطلاعات واینترنت در پکیج موبایل 3.تماس تصویری. 4. سرویسهای
                    ارزش افزوده و برنامه های کاربردی در پکیج موبایل </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا با شرکتهای تولید کننده گوشی مذاکره ای جهت عرضه همزمان گوشی و سیم کارت انجام
                    شده است؟ </strong>
                <br />
                <a name="SimAndDevice">این مساله تحت بررسی است و تصمیم نهایی در هنگام واگذاری اعلام
                    می شود. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>فن آوری  موبایل (3G) چیست؟</strong><br />
                <a name="3GMeaning">این فن آوری، نسل جدیدی از فن آوری اطلاعات است که مـی تواند در ارائه
                    سرویسها با کیفیت بسیار بالاکمک کند. اساسا در  پهنای باند و سرعت انتقال اطلاعات
                    نسبت به نسل قبلی موبایل، بسیارمتفاوت است و نیز امنیت بیشتر اطلاعات تامین شده است.
                </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا اپراتورهای دیگر هم خدمات  را ارائه خواهند کرد؟</strong><br />
                <a name="3GMonopoly">خیر، امکان ارائه خدمات  فعلا در انحصار شرکت تأمین تله کام
                    می باشد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>مهمترین سرویسهای اپراتور سوم کدام هستند؟</strong><br />
                <a name="TopServices">خدمات ویژه  درمورد دیتا و امکان دسترسی به اینترنت پر سرعت
                    از طریق شبکه های   بر روی کامپیوتر و   می باشد. خدماتی که از طریق
                    فنآوری  قابل دسترسی است به شرح زیر می باشند: - اتصال دائم به شبکه اینترنت
                    و امکان دانلود و گشت اینترنتی با سرعت بالا. با 3G امکان دسترسی به اینترنت (از طریق
                    موبایل یا لپ تاپ) در حین حرکت وجود دارد که سرعتی بسیار بالاتری برای دانلود و بارگذاری
                    از آنچه تا امروز ارائه شده است را فراهم می کند. - تماس تصویری: کاربران شبکه نسل
                    سوم می توانند با یکدیگر تماس تصویری برقرار کنند. - دانلود ویدئو: امکان دريافت کلیپ
                    های ویدئویی روی گوشی موبایل همچنين دريافت تصاوير تلویزیون، رادیو، عناوین خبری، پیش
                    بینی وضع هوا یا تیزرهای فیلم های سینمایی - تصاویر: امکان عکس برداری و تصویربرداری
                    دیجیتال و نیز ارسال تصاویر به کاربران  یا غیر آن از طریق MMS با گوشی های
                    دارای خدمات  وجود دارد. سرعت انتقال دیتا بسیار بالاتر از فنآوری های قبلی
                    می باشد. - انواع خدمات ارزش افزوده </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا مجوزهای لازم برای ارائه  تصویری دریافت شده است؟ </strong>
                <br />
                <a name="Permissions">همزمان با توسعه شبکه فرآیندهای اخذ مجوز از نهادهای مربوطه نیز
                    در حال پی گیری است. مهمترین مجوز همان پروانه اپراتور سوم است. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا تحریم های تحمیلی علیه ایران در مسیر راه اندازی شبکه و تامین تکنولوژی لازم
                    ایجاد اختلال نکرده است و آیا این موضوع در آینده و پس از راه اندازی مشکل ساز نیست؟</strong><br />
                <a name="sanctions">تحریم ها هرچند اختلالهایی در سرعت و روند کار ایجاد کرده ولی اصل
                    پروژه را بخصوص پس از نصب و راه اندازی شبکه مورد تهدید قرار نمی دهد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>زمان افتتاح شبکه  را چه زمانی پیش بینی میکنید؟</strong><br />
                <a name="LaunchEstimation">برنامه زمانبندی فازهای مختلف واگذاری بعدا اعلام خواهد شد.
                </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا شهرداری تهران در نصب آنتن های بی.تی.اس همکاری لازم با اپراتور سوم را داشته
                    است؟</strong><br />
                <a name="BtsAntena">تاکنون مشکل خاص و حادی در نصب آنتن ها گزارش نشده است. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>بسیاری از خدماتی که به عنوان ارزش افزوده از آن نامبرده می شود، نیازمند همکاری
                    و زمینه سازی از سوی دیگر ادارات و سازمانهای دولتی هستند. به نظر می رسد برخلاف تبلیغات
                    انجام شده، عملیاتی شدن همه آنها در حال حاضر برای اپراتور سوم امکان ندارد. با چه
                    سازمانهایی همکاری-هایی در این خصوص صورت گرفته است؟</strong><br />
                <a name="VASissues">ارتباطات فراوانی با نهادها و سازمانهای ذیربط برقرار شده، در ابتدای
                    بهره برداری هدف ارائه خدمات پایه است و به مرور سرویس های جدید و خدمات ارزش افزوده
                    ارائه خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>خبرها و نظرات حاکی از آن است که شما با تأخیر قابل ملاحظه ای در برنامه زمانی
                    پیش بینی شده مواجه هستید، آیا این امر صحیح است؟</strong><br />
                <a name="Delay">فعلا تعداد محدودی سیم کارت عرضه شده است. علی رغم وجود محدودیتهای فنی،
                    شرکت تامین تله کام تلاش می کند تعهدات خود را در کوتاه ترین زمان ممکن، به انجام برساند.
                </a>
            </p>
        </li>
        <li>
            <p>
                <strong>فراگیر شدن سیم کارتهای (اپراتور سوم) در سطح کشور (شهرستانها,روستاها و راهها)
                    چقدر طول خواهد کشید؟ </strong>
                <br />
                <a name="LongTermGoal">شرکت مراحل گسترش شبکه را هر چند وقت یکبار در سطح کشور اعلام خواهد
                    کرد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>تعرفه و سرویس مکالمات اپراتور سوم چگونه مقرر خواهد شد؟</strong><br />
                <a name="Tariffs">این امر در چارچوب مقررات سازمان تنظیمات مقررات و ارتباطات رادیویی
                    کشور تعیین شده و در زمان بهره برداری اعلام خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>آیا استراتژی و کلیات قیمت و تعرفه گذاری اپراتور سوم تاکنون مشخص شده است؟</strong><br />
                <a name="Strategies">کلیات قیمت و تعرفه معلوم است، با این حال جدول تعرفه ها و سرویسهای
                    اپراتور سوم پس از دریافت تاییدیه های لازم و در زمان مقرر، اعلام خواهد شد. </a>
            </p>
        </li>
        <li>
            <p>
                <strong>قیمت گذاری سیم کارتهای اپراتور سوم به چه نحو خواهد بود؟</strong><br />
                <a name="Pricing">قیمت گذاری بگونه ای خواهد بود که هم قابل رقابت بوده و هم دربرگیرنده
                    نیازهای بازار باشد.قیمتها در موعد مقرر و پس از اخذ تائیدیه های لازم ابلاغ خواهد
                    شد. </a>
            </p>
        </li>
    </ul>
</div>
