@using Cedar.WebPortal.WebMVC4.Helpers
@{
    ViewBag.Title = @Html.ResourceFor("Home_Tender");
}
<style type="text/css">
    table
    {
        text-align: center;
        min-height: 300px;
        border: 1px;
        border-style: solid;
        border-collapse: separate;
        padding: 2px 2px 2px 2px;
        border-color: Black;
        margin: 2px auto 2px auto;
    }
</style>
<h2>@Html.ResourceFor("Tender")</h2>
<h3>
    موضوع مناقصه: شناسايي و تحليل اولويت‌هاي مكان‌يابي
</h3>
جهت دريافت شرح فني پروژه <a href="../../Content/1_47_GeoMarketing Final site.pdf"
    target="_blank">اينجا</a> كنيد
<br />
<br />
<strong>مدارك مورد نياز جهت شركت در مناقصه:</strong>
<ul>
    <li>خلاصه وضعيت شركت </li>
    <li>تجارب شركت پروژه‌هاي انجام شده و در دست اقدام </li>
    <li>نام، تحصيلات و تجربيات هيئت مديره شركت و کارشناسان ارشد و افراد کلیدی شرکت </li>
    <li>وضعيت مالي شركت در طی 2 سال گذشته
        <br />
        شامل صورت‌هاي مالي( تأييد شده توسط بازرس قانوني) و گزارش بازرس قانوني </li>
    <li>آگهي روزنامه رسمي شركت با آخرین تغییرات </li>
    <li>رتبه بندي مورد تأیید دفتر معاونت راهبردي رياست جمهوري </li>
    <li>· پیشنهاد اولیه (در صورت تمایل) </li>
</ul>
- مقتضی است شرکت کنندگان محترم اطلاعات دقيق و مدارك درخواستي را به  تکمیل فرم
زير، نهايتاً تا پایان وقت اداری روز شنبه تاریخ 3/ 7 / 1389
<br />
به آدرس: تهران- خيابان وليعصر- بالاتر از پارك ملت- خيابان ناهيد غربي- پلاك 81 طبقه
سوم دفتر كميسيون معاملات شركت ارتباطات تامين شمس نوين با اخذ رسید تحويل نمایند.
<br />
<br />
- همچنین مقتضي است نسخه الکترونیکی اطلاعات مذكور به آدرس <a href="mailto:commercial@Cedar.ir">
    commercial@Cedar.ir </a>ارسال گردد.
<br />
<br />
<table>
    <caption>
        <strong>صورت قراردادهای اجرا شده </strong>
    </caption>
    <thead>
        <tr>
            <th>
                رديف
            </th>
            <th>
                شرح
            </th>
            <th>
                تاريخ انعقاد قرارداد
            </th>
            <th>
                تاريخ خاتمه قرارداد
            </th>
            <th>
                كارفرما
            </th>
            <th>
                مبلغ قرارداد
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<table>
    <caption>
        <strong>صورت قراردادهای در دست اقدام </strong>
    </caption>
    <thead>
        <tr>
            <th>
                رديف
            </th>
            <th>
                شرح
            </th>
            <th>
                تاريخ انعقاد قرارداد
            </th>
            <th>
                درصد پيشرفت
            </th>
            <th>
                كارفرما
            </th>
            <th>
                مبلغ قرارداد
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
