@using Cedar.WebPortal.WebMVC4.Helpers
@inherits System.Web.Mvc.WebViewPage
@{
    
    ViewBag.Title = Html.ResourceFor("Home_VAS");
}
    <div>
            <h2>خدمات ارزش افزوده </h2>
        <p>
            در کنار خدماتی اصلی همچون پیام کوتاه و پیام صوتی،  امکان استفاده از طیفی
            گسترده تر از خدمات ارزش افزوده (VAS) را فراهم می کند. اینترنت پرسرعت،‌ انتقال ديتا،
            تلویزیون موبایل، بانكداري موبايل، خدمات مبتنی بر مکان و انواع امکانات تصویری از
            جمله این خدمات می‌باشند كه در ادامه برخي از اين خدمات ارزش‌افزوده معرفي شده‌اند:
            <br />
            <strong>اینترنت پهن باند بیسیم:</strong>
            <br />
            انواع خدمات باند   از جمله مهمترين خدمات ارزش افزوده  به شمار مي‌آيند
            كه امکان استفاده مشترکان از اینترنت پرسرعت بر روی  و یا کامپیوتر خود حتی زمانی
            که در حال حرکت هستند را فراهم می کند.<br />
            برای اتصال به شبکه و بهره‌برداري از اين خدمات، مشتركين مي‌توانند از   خود
            و یا لپ‌تاپ خود استفاده کنند. برای استفاده از اينترنت برروي رايانه و لپ‌تاپ لازم
            است از یک مودم با اندازه مشابه حافظه‌های فلش استفاده خواهدشد.<br />
            سرعت اینترنت در  تا 42Mbps می رسد و بسته های گوناگون با سرعت و حجم های متفاوت
            بنا به نیازها و قوانین کشور ارائه خواهد شد<br />
            <strong>ارائه انواع محتوای عمومي و تخصصي:<br />
            </strong>بسیاری از خدماتی که در  شبكه‌هاي مخابراتي استفاده مي‌شود، خدماتی
            هستند که اپراتور در آنها نقش ایجاد زیرساخت را دارد و ارائه آنها منوط به همکاری شرکت‌های
            مختلف دولتی و خصوصی است.<br />
            در اين دسته از خدمات، انواع محتواي متني و چند رسانه‌اي مورد نياز با كمك بستر شبكه
             و با همكاري مجموعه‌هاي توليدكننده آن محتوا، در اختيار مشتركين قرار خواهد
            گرفت كه در ادامه برخي از آنها معرفي شده‌اند:<br />
            <strong>برنامه‌هاي تلویزیوني و ويدئويي:‌<br />
            </strong>با استفاده از این سرویس،‌ کانال‌های تلویزیون بر روی موبایل قابل مشاهده‌است.
            مشتركين مي‌توانند به راحتی به این کانالها دسترسی پیدا کرده و از برنامه‌هاي آن استفاده
            كنند. حق پخش برنامه‌های تلویزیونی را نيز مي‌توان از طریق گوشی و بر بستر شبكه نسل
            سوم پرداخت كرد. همچنين به كمك بستر شبكه نسل‌سوم مي‌توانفيلم يا كليپ‌هاي ويدئويي
            را براي مشتركين ارسال كرد و توسط گوشي آنها را دريافت نمود. این سرویس به مشتركين
            اجازه می‌دهد انواع ویدئو و محتویات آن را انتخاب کرده و سپس آن را برای مشاهده به
            گوشی موبایل،‌لپ تاپ و یا غیره بفرستد. گفتني‌است شبکه‌های خدمات  به دلیل ظرفیت
            و پهنای باند گسترده خود برای ارائه خدمات ویدئویی نیز در موقعیت بهتری نسبت به نسلهاي
            پيشين خود قرار دارند.
            <br />
            <strong>خدمات بانكي و بانكداري:</strong><br />
            با توجه به امنيت بالاي شبكه‌هاي  و نيز ظرفيت انتقال انواع اطلاعات مورد نياز
            در شبكه بانكي، امروزه اين شبكه‌ها بستر قابل اطميناني جهت انجام انواع خدمات بانكداري
            محسوب مي‌گردند. در اين راستا به كمك شبكه نسل‌سوم مشتركين بدون نيار به بسياري از
            مراجعات حضوري به شعب بانكها و طي‌كردن مراحل مختلف اداري و صرفاً به كمك گوشي 
             خود، در اسرع وقت نيازهاي بانكي خود را برطرف خواهند كرد.<br />
            <strong>خدمات مبتنی بر مکان:‌<br />
            </strong>به كمك سرويس‌هاي مبتني بر مكان، اطلاعات آب و هوا یا ترافیک محلی به گوشي
            ‌ شما فرستاده می‌شود. همچنين امکان جستجوی دوستان یا مراکز تجاری نزدیک شما
            را فراهم می کند. این خدمات شامل تشخیص موقعیت شخص یا شی ء همچون یافتن نزدیکترین باجه
            های بانکی الکترونیکی یا موقعیت یک دوست یا کارمند می شود. ردیابی مرسولات یا وسایل
            نقلیه نیز از جمله خدمات دیگر این سرویس می باشند.
            <br />
            کلیپ های اخبار و اتفاقات ورزشی از جمله محبوب ترین فیلم های دانلود شده توسط کاربران
            موبایل هستند.<br />
            گفتني‌است محدوده خدمات ارزش‌افزوده مبتني بر محتوا بسيار گسترده و متنوع مي‌باشد،‌
            لذا به مرور ساير انواع اين خدمات نيز جهت آشنايي بيشتر معرفي خواهند شد.</p>
    </div>
