@using Cedar.WebPortal.WebMVC4.Helpers
@{
    ViewBag.Title = Html.ResourceFor("Home_VAS");
}
<h2>
    VAS</h2>
<h2>
    3G Value-added Services
</h2>
<p>
    In addition to services such as text and voice messaging, 3G provides a large range
    of Value Added Services. High-speed internet, data transfer, mobile TV, mobile banking,
    location based services, and various video facilities are among these services,
    some of which are introduced here:
</p>
<h2>
    Wireless Broadband Internet</h2>
<p>
    Among the most important 3G value added services, are various mobile band ones,
    which make high speed internet available on subscribers’ handsets and computers,
    even when moving.
    <br />
    Connecting to the network and making use of these services, require subscribers
    to have cellphones or laptops. To access internet on desk- or laptops, a modem as
    big as flash memories is needed.
    <br />
    3G’s connection speed reaches 42 Mbps. In accord with the country’s regulations
    and demands, various packages in different speeds and consumption volumes will be
    presented.
    <br />
</p>
<h2>
    General & Specific Contents</h2>
<p>
    Many of 3G telecom network services are those in which, operators provide the infrastructure,
    and different governmental and private companies’ cooperation makes the final product
    available.
    <br />
    Various text and multimedia contents in this category of services are presented
    to subscribers by cooperation of their respective users on 3G network. Here, some
    of them are introduced:
</p>
<h2>
    TV & Video Programs:</h2>
<p>
    By using this service, subscribers may receive TV channels on their handsets, and
    easily watch programs. The subscription charge for TV programs is paid through the
    handset and on 3G network as well. This network makes sending and receiving films
    and video clips to subscribers’ handsets possible. This allows subscribers to first
    choose videos and contents then send them to their handsets, laptops, and … It should
    be noted that due to their vast capacity and bandwidth, 3G networks’ services have
    better condition comparing to previous generations.
    <br />
</p>
<h2>
    Banking Services:</h2>
<p>
    Considering their high level of security, as well as the capacity required for transferring
    data in bank networks, 3G is reliable for performing banking services. 3G networks
    enable subscribers to do their banking jobs by their handsets, without referring
    to branches and going through bureaucracy in the shortest possible time.
</p>
<br />
<h2>
    Location-Based Services</h2>
<p>
    These services send local weather forecast or traffic information to your handset,
    or make searching for nearby friends or shopping centers possible. These services
    include locating a person or an object, such as finding the nearest ATM, a friend,
    or an employee. Tracking packages or vehicles are some of the other services.
    <br />
    News and sport events are of the most popular downloaded clips by mobile users.
    It should be noted that the scope of content based value added services is vast
    and diverse. We will introduce them gradually.
</p>
