
            <div class="menubar">
                <div class="menubg">
                    <div class="searcharea">
                        <form accept="/searchresult.html" method="post">
                            <input class="btn-search" src="/content/images/public/btn-search.gif" type="image" />
                            <input id="searchq" name="q" type="text" value="جستجو" />&nbsp;</form>
                    </div>
                    <!-- Start of menu items -->
                    <div class="menuitems">
                        <ul>
                            <li class="menuitem-seperated-first">&nbsp;</li>
                            <li><a href="#">محصولات و تعرفه ها</a>
                                <div class="megadropline">
                                    <ul>
                                        <li><a href="/News/Details/4f1e44bc-a8b6-4f6f-a099-a01800bf7717"></a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-11.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/34d58f50-6cd1-4d5c-9f16-a01100b86114">سیم کارت دائمی</a>
                                                    </li>
                                                    <li><a href="/News/Details/6c074be5-6a8c-4ca4-bed0-a0a100e09529">سیم کارت دیتا</a>
                                                    </li>
                                                    <li><a href="/News/Details/de3d2e08-f67e-4c28-a0a1-a01100c0c0b5">سیم کارت اعتباری</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">طرح ها و تعرفه ها</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-11.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/2d98a14a-1096-4835-8d00-a0ae00dd9be5">طرح ویژه عید فطر</a>
                                                    </li>
                                                    <li><a href="/News/Details/3890bb8c-656c-498e-9c1e-a09d01151d1f">طرح ویژه ماه رمضان</a>
                                                    </li>
                                                    <li><a href="/News/Details/02bceb1e-17fa-42d2-91c8-a084012c66c3">طرح ویژه نیمه شعبان</a>
                                                    </li>
                                                    <li><a href="/News/Details/83129386-9764-4324-b1e3-a084011e59ee">تعرفه های تشویقی تابستان</a>
                                                    </li>
                                                    <li><a href="/News/Details/edae4b2f-83b6-4856-866d-a05f00e42443">پیش ثبت نام ویژه روز
                                                        پدر</a></li>
                                                    <li><a href="/News/Details/22852e4d-f487-4d48-b7be-a04b009b0da0">پیش ثبت نام ویژه روز
                                                        مادر</a></li>
                                                    <li><a href="/News/Details/b0cd541c-f802-49d8-9c95-a01100c015d5">جشنواره اولین ها</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menuitem-seperated">&nbsp;</li>
                            <li><a href="#">ثبت نام و خرید</a>
                                <div class="megadropline">
                                    <ul>
                                        <li><a href="#">ثبت نام</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-15.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="http://reg.rightel.ir/">ثبت نام و خرید سیم کارت</a></li>
                                                    <li><a href="/News/Details/7386695c-8f92-4298-a129-9fd3013d330a">تکمیل ثبت نام</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">خرید بسته ها و طرح ها</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-15.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="http://payment.rightel.ir/pack">بسته های مصرفی و افزایشی</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">امور نمایندگی ها</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-15.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="http://reg.rightel.ir/pishkhan/Account/LogOn?ReturnUrl=%2fpishkhan">ورود
                                                        نمایندگان فروش</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">مراکز توزیع و فروش</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-15.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="#">فروشگاه ها</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menuitem-seperated">&nbsp;</li>
                            <li><a href="#">راهنمای مشتریان</a>
                                <div class="megadropline">
                                    <ul>
                                        <li><a href="#">راهنمای ثبت نام</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-13.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/443d1c4c-afd8-4bb9-8e01-a0840117b74a">ثبت نام و خرید</a>
                                                    </li>
                                                    <li><a href="/News/Details/38b7d764-78c4-4922-878f-a01100c44efc">تکمیل ثبت نام</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="/News/Details/96afbf43-7784-4066-b451-a03800bc7153">راهنمای تنظیمات گوشی</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-13.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/Attachment/Index/c71eb88e-dc42-4913-a52d-a0ab00fd6df3">اتصال به شبکه کمپانی نام</a>
                                                    </li>
                                                    <li><a href="/Attachment/Index/6ea50ba2-ea88-49cc-9504-a0ab00fdb005">تنظیم اینترنت</a>
                                                    </li>
                                                    <li><a href="/Attachment/Index/63921720-7f53-4488-91ac-a0ab00fd9220">تنظیم MMS</a>
                                                    </li>
                                                    <li><a href="/Attachment/Index/8abfeccc-d681-4ca9-a8ac-a04501116d74">فعال سازی دیتا</a>
                                                    </li>
                                                    <li><a href="/News/Details/a2ef8d76-6394-41d8-ac16-a08b01093c81">گوشی های مناسب 3G </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="/News/Details/24a91320-4bb7-431c-b890-a01800cf24cc">نواحی تحت پوشش</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-13.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/def643c2-f673-4d42-a09f-a08700fd7336">مشهد</a></li>
                                                    <li><a href="/News/Details/22bbf020-c349-422e-8245-a08700fc15b2">شیراز</a></li>
                                                    <li><a href="/News/Details/82a9f272-1226-414a-ac3c-a01400f56c63">کرج</a></li>
                                                    <li><a href="/News/Details/1b478e2c-1042-45da-8bbf-a01400f9b506">تهران</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menuitem-seperated">&nbsp;</li>
                            <li><a href="#">دعوت به همکاری</a>
                                <div class="megadropline">
                                    <ul>
                                        <li><a href="#">فرصت های شغلی</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-14.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/7ce17a62-d769-42e3-8138-a04900b3c1c8">مشاغل مورد نیاز</a>
                                                    </li>
                                                    <li><a href="/Applicant/Create">فرم درخواست کار</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">فراخوان</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-14.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/6b64a3eb-d549-4e5a-8408-a02e009fa0b9">توان سنجی شرکت های
                                                        تبلیغاتی</a></li>
                                                    <li><a href="/News/Details/a3ea8158-16a1-4844-97e0-a02d01426527">شناسایی منابع تخصصی</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">مناقصه و مزایده</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-14.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/cca44eb6-9978-4d6d-91b4-a01100ca31c2">فهرست آگهی ها</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">اعطای نمایندگی</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-14.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/News/Details/b730fb75-8102-497b-baeb-a08401326700">شرایط و فرم درخواست</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menuitem-seperated">&nbsp;</li>
                            <li><a href="#">درباره ما</a>
                                <div class="megadropline">
                                    <ul>
                                        <li><a href="#">درباره کمپانی نام</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-12.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li style="display: none;"><a href="/photogallery-category.html">گالری عکس</a></li>
                                                    <li><a href="/News/Details/425ee3c9-8d94-4712-9f49-a01100c76ea7">پرسش های متداول</a>
                                                    </li>
                                                    <li><a href="/News/Details/fe4653b6-ef6d-4d19-b28c-a01100cb6f43">حمایت های مالی</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">اخبار کمپانی نام</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-12.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/othermedia.html">کمپانی نام از نگاه رسانه ها</a></li>
                                                    <li><a href="/newsarchive.html">آرشیو ماهانه</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="/News/Details/c1518d92-287d-4835-ade1-a01400f2b399">تماس با ما</a>
                                            <div class="megadropdown">
                                                <div class="megadropimagearea">
                                                    <img src="/content/images/public/menuimg-12.png" /></div>
                                                <div class="menudropdown-seperated">&nbsp;</div>
                                                <ul>
                                                    <li><a href="/Message/Create">فرم تماس</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End of menu items -->
                    <div class="rightel-typography"><a href="./">
                        <img alt="کمپانی نام" src="/content/images/public/rightel-typography.png" title="صفحه اصلی" /></a>
                    </div>
                </div>
            </div>
            <script type="text/javascript">   $(".menubar").center();  </script>
       