<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index,follow,all" />
	<meta name="googlebot" content="index, follow" />
	<meta name="distribution" content="Global" />
	<meta name="description" content="کمپانی نام اپراتور    در ایران" />
	<meta name="keywords" content="کمپانی نام, ,اپراتور سوم,,سیم کارت,بسته های افزایشی,rightel,3g,hspa,vhdjg,قهلافثم" />
	<meta name="google-site-verification" content="XADrB9znQx73SHEur6S49jeZzrVWXVuLEJck4t6zAQM" />
	<link type="image/png" rel="shortcut icon" href="/content/images/public/favicon.ico" />
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.nivo.slider.pack-2.7.1.js"></script>
	<script type="text/javascript" src="scripts/rightel-global.js"></script>
	<script type="text/javascript" src="scripts/rightel-home.js"></script>
	<link type="text/css" rel="stylesheet" href="content/css/public/rightel-global.css" />
	<link type="text/css" rel="stylesheet" href="content/css/home/rightel-home.css" />
	<title>کمپانی نام</title>
</head>
<body>
	<div class="wrapper">
		<div class="topbar">
			<div class="topbarcontent">
				<div class="languagebar">
					<a href="/en/">English</a>
				</div>
			</div>
		</div>
		<div class="homepagearea">
			<div class="page-header">
				<div class="home-bannerarea">
					<div id="nivo-banner" class="nivoslider">
						<img style="display:block;" src="content/images/home/rightel-banner-ramezan.jpg"/>
						<img style="display:none;" src="content/images/home/rightel-banner-shiraz.jpg"/>
						<img style="display:none;" src="content/images/home/rightel-banner-data.jpg"/>
						<img style="display:none;" src="content/images/home/rightel-banner-mashhad.jpg"/>
						<img style="display:none;" src="content/images/home/rightel-banner-tehran.jpg"/>
						<img style="display:none;" src="content/images/home/rightel-banner-postpaid.jpg"/>
					</div>
				</div>
				<!--#include virtual="/menuitems.html"-->
			</div>
			<div class="home-iconarea">
				<ul>
					<li class="icon-news"><a href="/news.html">اخبار&nbsp;&nbsp;&nbsp;</a></li>
					<li class="icon-internetpackage"><a href="/internetpackage.html">خرید بسته های افزایشی</a></li>
					<li class="icon-mobilesetting"><a href="/mobileconfig.html">راهنمای تنظیمات</a></li>
					<li class="icon-coveragemap"><a href="/coveragemap.html">نواحی تحت پوشش</a></li>
					<li class="icon-fulfillment"><a href="/fulfillment.html">تکمیل ثبت نام</a></li>
					<li class="icon-signup"><a href="/signup.html">ثبت نام و خرید سیم کارت</a></li>
				</ul>
			</div>
			<div class="home-simcardannounce">
				<div class="home-datasim">
					<img src="content/images/home/rightel-datasimcard-hsupa.png"/>
				</div>
				<div class="home-postpaidsim">
					<img src="content/images/home/rightel-simcardcase.png"/>
				</div>
				<div class="home-simcardcategory">
					<img src="content/images/home/rightel-simcard-category.jpg"/>
				</div>
				<ul class="home-datasim-links">
					<li><a href="/data-startpackage.html">بسته آغازین (سیم کارت و طرح مصرفی)</a></li>
					<li><a href="/data-summerpackage.html">طرح های ویژه تابستان</a></li>
					<li><a href="/data-internetpackage.html">خرید بسته های افزایشی</a></li>
				</ul>
				<ul class="home-postpaidsim-links">
					<li><a href="/postpaid-startpackage.html">بسته آغازین (سیم کارت و طرح مصرفی)</a></li>
					<li><a href="/postpaid-summerpackage.html">طرح های ویژه تابستان</a></li>
					<li><a href="/postpaid-internetpackage.html">خرید بسته های افزایشی</a></li>
				</ul>
			</div>
		</div>

		<div class="footerslide">
			<div id="btnfooterslide" class="btnfooter1"></div>
			<div class="pagefooter">
				<div class="pagefootershadow"></div>
				<ul>
					<li><a href="/privacypolicy.html">حریم خصوصی</a></li>
					<li><a href="/termscondition.html">شرایط استفاده</a></li>
					<li><a href="/jobs.html">فرصت های شغلی</a></li>
					<li><a href="/sitemap.html">نقشه سایت</a></li>
					<li><a href="/contactus.html">تماس با ما</a></li>
				</ul>
				<div class="pagefooter-copyright">
					&copy; برند کمپانی نام به عنوان یک نام و علامت تجاری ثبت شده است. کلیه حقوق این وب سایت برای <a href="./">کمپانی نام</a> محفوظ است.
				</div>
				<div class="footerlogoplace">
					<a href="./"><img src="content/images/public/rightel-logo.png" alt="کمپانی نام"/></a>
					<h1><a href="/">کمپانی نام</a></h1>
				</div>
			</div>
		</div>
	</div>
</body>
</html>