<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js">  </script>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load('search', '1', { style: google.loader.themes.BUBBLEGUM });
        google.setOnLoadCallback(function () {
            var customSearchOptions = {};
            var imageSearchOptions = {};
            imageSearchOptions['layout'] = google.search.ImageSearch.LAYOUT_POPUP;
            customSearchOptions['enableImageSearch'] = true;
            customSearchOptions['imageSearchOptions'] = imageSearchOptions;
            var customSearchControl = new google.search.CustomSearchControl('017678088183984399114:itdfq6pfkpa', customSearchOptions);
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            customSearchControl.draw('cse');
            customSearchControl.execute("VW GTI");
            function parseParamsFromUrl() {
                var params = {};
                var parts = window.location.search.substr(1).split('&');
                for (var i = 0; i < parts.length; i++) {
                    var keyValuePair = parts[i].split('=');
                    var key = decodeURIComponent(keyValuePair[0]);
                    params[key] = keyValuePair[1] ?
            decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :
            keyValuePair[1];
                }
                return params;
            }

            var urlParams = parseParamsFromUrl();
            var queryParamName = "q";
            if (urlParams[queryParamName]) {
                customSearchControl.execute(urlParams[queryParamName], null,
          { 'oq': urlParams['oq'], 'aq': urlParams['aq'],
              'aqi': urlParams['aqi'], 'aql': urlParams['aql'],
              'gs_sm': urlParams['gs_sm'], 'gs_upl': urlParams['gs_upl']
          });
            }
        }, true);
        $(document).ready(function () {
            $.fx.speeds._default = 500;
            $("#result").dialog({
                autoOpen: false,
                title: 'Title',
                width: 'auto',
                height: 'auto',
                modal: true,
                show: "blind",
                hide: "explode",
                draggable: true
            });
            $("#searchbtn").click(function () {
                openPopup();
            });

        });
        </script>
    <script type="text/javascript">
        function openPopup() {
            $("#result").dialog("open");



        };
    </script>
</head>
<body>
    <div id="result">
        <div id="cse" style="width: 100%;">
            Loading</div>
    </div>
    <div>
        <a id="searchbtn" href='javascript:void(0)'>asdfasdfasdfasdf </a>
    </div>
</body>
<div id="cse-search-form" style="width: 100%;">Loading</div>
