@using Cedar.WebPortal.WebMVC4.Helpers
@using Cedar.WebPortal.WebMVC4.Controllers
@using Cedar.WebPortal.WebMVC4.ViewModel
@model GalleryViewModel
@{
    ViewBag.Title = Model.Title;
}
<div>

    <div width="200px">
        @*@Html.DisplayAttachment(o => o.Attachment)*@
        <div style="vertical-align: text-top; min-height: 100px; padding-right: 60px">
            <strong>
                @Model.Title
            </strong>
            <div style="text-align: left">
            @String.Format("{0:g}", Model.PublishDate)
            </div>
            <br />
            <br />
            <div style="width: 100%">
                @Html.Raw(Model.Contents)
            </div>
        </div>
        <hr />
    </div>
</div>
