<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.30506.0" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Extensions.Interception" version="3.0.0.8" />
  <package id="NPOI" version="1.2.5" targetFramework="net45" />
  <package id="SQLitex64" version="1.0.66" />
</packages>